<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ctadmin.mypolytech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/theam">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home" />
        <activity android:name=".register" />
        <activity android:name=".about" />
        <activity android:name=".feedback" />
        <activity android:name=".question_papper" />
        <activity android:name=".syllabus" />
        <activity android:name=".link" />
        <activity android:name=".login" />
        <activity android:name=".Staffdetails" />
        <activity android:name=".Staff_select" />
        <activity android:name=".Profile" />
        <activity android:name=".Notifications" />
        <activity android:name=".Notificationshow" />
        <activity android:name=".Library" />
        <activity android:name=".Attendance" />
        <activity android:name=".Questions" />
        <activity android:name=".Question_Semester" />
        <activity android:name=".QuestionShow" />
        <activity
            android:name=".Example"
            android:label="@string/title_activity_example"
            android:theme="@style/theam" />
        <activity android:name=".Web"></activity>
    </application>

</manifest>